<div class="delete-confirm alert alert-block alert-error fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4 class="alert-heading">Are you sure you want to delete category?</h4>
    <p>Note that deleting a category will, in turn, delete all of it's related tasks. This operation <u>cannot</u> be undone!</p>
    <p>
        <a class="delete-confirmed btn btn-danger" href="#">Yes, completely obliterate this category!</a>
        <a class="delete-cancelled btn" href="#">Cancel</a>
    </p>
</div>