    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Categories</li>
            <li class="active"><a href="#">All</a></li>
            <% if (this.collection.length) { %>
                <% this.collection.each(function(category) { %>
                    <li data-category-id="<%= category.id %>">
                        <a class="category" href=<%= '"#categories/'+category.id+'"' %>><%= category.get('title') %>
                            <i class="remove-category icon-remove"></i>
                        </a>
                    </li>
                <% }); %>
            <% } %>
        </ul>
    </div>
